.list ul {
    margin: 0;
    text-align: left;
    list-style-type: none;
    padding: 0;
}
.list h1 {
    text-align: center;
}
.add-comment-div {
    text-align: center;
}
.add-comment-div input {
    background-color: cadetblue;
    display: inline-block;
    padding: 20px;
    color: white;
    border: none;
    font-size: 20px;
}
.add-comment-div input::-webkit-input-placeholder{
    color: lightblue;
}
.add-comment-div input:focus {
    outline: none;
}
.add-comment-div button {
    height: 63px;
    width: 63px;
    font-size: 20px;
    background-color: white;
    border: 4px solid cadetblue;
    color: cadetblue;
}
.add-comment-div button:hover {
    color: white;
    background-color: lightblue;
}