li {
    margin: 20px;
}
.comment-div {
    display: inline-block;
    position: relative;
    background-color: lightgray;
    padding: 20px 50px 20px 20px;
    border-radius: 20px;
}
p {
    font-style: italic;
}
input {
    margin-bottom: 10px;
    padding: 5px;
}
span {
    font-weight: bold;
}
.delete-button,
.edit-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
}
.delete-button:hover {
    cursor: pointer;
    color: red;
}
.edit-button {
    right: 20px;
}
.edit-button:hover {
    cursor: pointer;
    color: blue;
}
.delete-button:focus,
.edit-button:focus,
.thumb-up-button:focus,
.thumb-down-button:focus {
    outline: none;
}
.thumb-up-button,
.thumb-down-button {
    font-size: 17px;
    background-color: transparent;
    border: none;
}
.thumb-up-button {
    margin-left: 10px;
}
.thumb-up-button:hover {
    cursor: pointer;
    color: green;
}
.thumb-down-button:hover {
    cursor: pointer;
    color: red;
}